body {
  font-family: "Open Sans", sans-serif;
  background-color:#000;
  color:#888;
}
.key{
  box-shadow:inset 0 0 2px 1px rgba(200,200,200,0.3);
  border:1px solid #333;
  display:inline-block;
  padding:0px;
  border-radius:4px;
  line-height: 10px;
}
.keylabel{
  text-align:center;
  padding:1px 2px;
  font-family:monospace;
  font-size:14px;
  margin-left:0px;
  margin-right:0px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  position:relative;
  text-shadow: 1px 1px #000;
}
.keylabel.key{
  display:block;
}

.key .keylabel{
  transition:all 300ms;
}
.btn{
  background-color: #222;
  border:1px solid #444;
  color:#888;
  border-radius:4px;
}
.btn:hover{
  border:1px solid #456;
  color:#ccc;
  background-color: #234;
}
.layout-btn[data-checked='true']{
  border:1px solid #345;
  color:#ccc;
  background-color: #567;
}
